.headset-container
  #headset
    #headset-img
      %img{:src => "assets/headset/headset.png"}/
    #f3
      %img{:name => "smallNote", :src => "assets/headset/f3-black.png"}/
    #f4
      %img{:name => "smallNote", :src => "assets/headset/f4-black.png"}/
    #t7
      %img{:name => "smallNote", :src => "assets/headset/t7-black.png"}/
    #t8
      %img{:name => "smallNote", :src => "assets/headset/t8-black.png"}/
    #pz
      %img{:name => "smallNote", :src => "assets/headset/pz-black.png"}/
        
      