#signal-level
  %ul
    %li
      %img{:src => "assets/headset/good.png"}/
      %p Good
    %li
      %img{:src => "assets/headset/poor.png"}/
      %p Poor
    %li
      %img{:src => "assets/headset/bad.png"}/
      %p Bad
    %li
      %img{:src => "assets/headset/no-signal.png"}/
      %p No signal