.box_description
  .title_box.c11
    %h4 Setup Steps
  .tabs_step
    %h1 Headset Setup Guide
    %span.stepGuide Step 1
    %br/
    Before putting on the Emotiv headset, ensure that each of the 16 electrode recesses are fitted with a moist felt pad.
    If the pads are not already moist, wet them with saline solution before inserting into the headset,
    or, alternatively, use a medicine dropper to carefully moisten the pads while already in place.
    %br/
    %br/
    %span.stepGuide Step 2
    Switch on the Emotiv headset and verify that the built-in battery is charged and is providing power by looking for the blue LED located near the power switch at the back of the headset.
    If the headset battery needs charging then set the power switch to the off position and plug the headset into the Emotiv battery charger using the mini-USB cable provided with the headset.
    Allow the headset battery to charge for at least 15 minutes before trying again.
    %br/
    %br/
    %span.stepGuide Step 3
    Verify that the Wireless Signal reception is reported as Good by looking at the Engine Status box in the Emotiv Control Panel.
    If it is not, make sure that the Emotiv Dongle is inserted into a USB port on your computer and that the single LED on the top half of the
    dongle is on continuously or flickering very rapidly.  If the LED is blinking slowly or is not illuminated, then remove the dongle from the
    computer, reinsert it, and try again.  Remove any metallic or dense physical obstructions located near the dongle or the headset, and move away
    from any powerful sources of electromagnetic interference, such as microwave ovens or high-powered radio transmitters.
    %br/
    %br/
    %span.stepGuide Step 4
    Put on the Emotiv headset by gently pulling apart the headband and lowering the sensor arms onto your head from the top down,
    near the rear of the skull.  Next, slide the headset forward until the sensors closest to the headset pivot points are located
    directly above your ears and as close to your hairline as possible.  Adjust the fit so that the rectangular compartments at the front
    ends of the headband sit comfortably just above and behind your ears.  Tilt the headset so that the two lowest, frontmost sensors are
    symmetric on your forehead and positioned 2 to 2.5 inches above your eyebrows.  Finally, check that all sensors are touching your head and,
    if not,  then fine tune the headset fit by gently sliding the headset in small increments until an ideal fit has been achieved.
    %br/
    %br/
    %span.stepGuide Step 5
    The Headset Setup tab in Emotiv Control Panel shows a top-down view of the Emotiv headset sensor array.  The contact quality of each sensor
    is represented by a color code:
    %br/
    %br/
    %label{:style => "font-weight:bold"}
      %span{:style => "padding-left:40px"} Black
    %span{:style => "padding-left:40px"}
      No signal
      %br/
      %br/
      %label{:style => "font-weight:bold;color:red"}
        %span{:style => "padding-left:40px"} Red
      %span{:style => "padding-left:50px"}
        Very poor signal
        %br/
        %br/
        %label{:style => "font-weight:bold;color:orange"}
          %span{:style => "padding-left:40px"} Orange
        %span{:style => "padding-left:25px"}
          Poor signal
          %br/
          %br/
          %label{:style => "font-weight:bold;color:yellow"}
            %span{:style => "padding-left:40px"} Yellow
          %span{:style => "padding-left:30px"}
            Fair signal
            %br/
            %br/
            %label{:style => "font-weight:bold;color:green"}
              %span{:style => "padding-left:40px"} Green
            %span{:style => "padding-left:30px"}
              Good signal
              %br/
              %br/
              %span.stepGuide Step 6
              Starting with the two sensors just above and behind your ears (these are reference sensors for which good contact with your scalp is essential), adjust the sensors so they make proper contact with your scalp
              (i.e. show green on the contact quality display). If the indicators are:
              %br/
              %span{:style => "padding-left:40px"}
                %label{:style => "font-weight:bold"} Black:
                Check that the sensor has a felt pad fitted.  Check that the felt pad is pressing firmly against your scalp.
                Then try re-moistening the felt pad.  If this problem persists, this may indicate a problem with the Emotiv headset.
                %br/
                %span{:style => "padding-left:40px"}
                  %label{:style => "font-weight:bold"} Yellow,Orange,Red:
                  The sensor is not making good contact with your scalp.  Check that the felt pad is making comfortable but firm contact with your scalp.
                  If the contact is adequate, ensure that the felt pad is moist.  If the sensor's indicator color becomes lighter, the signal quality is
                  improving.  If the sensor's indicator color is getting darker, the signal quality is deteriorating.  If problems still persist, try parting
                  the hair in the vicinity of the electrode so the felt pad makes better contact with your scalp.
                  %br/
                  %br/
                  %span.stepGuide Step 7
                  Repeat Step 6 for each of the remaining electrodes until all the sensors have adequate contact quality.
                  Although the majority of indicators should display green, the Emotiv detections will usually tolerate input from up to several
                  sensors whose indicators display yellow.
                  %br/
                  %br/
                  %label{:style => "font-weight:bold"}
                    If at any time the reference sensors (located just above and behind your ears) no longer have a good connection (i.e. are not showing green),
                    immediately restore those sensors to green before proceeding further.