%h1 Recommendations
%br
.recommendations-list
  -current_user.recommendations[0..4].each do |rec|
    =link_to song_path(rec.song.song_spotify_id) do
      .recommendation
        .album
          =image_tag rec.song.album_cover_url
        .song-info
          %h2 
            =rec.song.name
          %strong.artist-name
            =rec.song.artist_name
        .rec-score
          %strong Score:
          =rec.score
.recommendations-list
  / average sum 
  %h2 My neighbors
  -current_user.neighborhood.get_neighbors[0..3].each do |neighbor|
    .recommendation
      .album
        =image_tag gravatar_url(neighbor.user)
      .song-info
        %h2 
          =neighbor.user.full_name
       
      