.headset-container
  #headset
    #headset-img
      =image_tag "headset/headset.png"
    #f3
      =image_tag "headset/f3-black.png" ,:name => "smallNote"
    #f4
      =image_tag "headset/f4-black.png",:name => "smallNote"
    #t7
      =image_tag "headset/t7-black.png",:name => "smallNote"
    #t8
      =image_tag "headset/t8-black.png",:name => "smallNote"
    #pz
      =image_tag "headset/pz-black.png",:name => "smallNote"
        
      