-@recordings.each_with_index do |recording, i|
  %tr
    %th 
      = audio_tag recording['song_info'].preview_url, class: "audio-play"
      =link_to "#", class: "btn btn-link audioButton" do
        .glyphicon.glyphicon-play
      
    %th{:scope => "row"}
      =recording['song_info'].name
    %td
      %p 
        =recording['song_info'].album.name
    %td
      .album-track-query
        =spotify_image_tag recording['song_info'].album
    %td
      %p
        =Time.at(recording['song_info'].duration_ms/1000).utc.strftime("%M:%S")
    %td
      =link_to song_path(recording['song_info'].id), class: "btn btn-default loading-button" do
        %i
        %span
          Song Profile