#signal-level
  %ul
    %li
      =image_tag "headset/good.png"
      %p Good
    %li
      =image_tag "headset/poor.png"
      %p Poor
    %li
      =image_tag "headset/bad.png"
      %p Bad
    %li 
      =image_tag "headset/no-signal.png"
      %p No signal