=javascript_include_tag "performance/performance"
.container-fluid
  .row.user-menu-container.square
    .col-md-12.user-details
      .row.coralbg.white
        .col-md-8.no-pad
          .user-pad
            %h3 
              Welcome back,
              =@user.full_name
            %h4.white
              %i.fa.fa-check-circle-o
              =@user.country_name
              
            =link_to edit_user_registration_path, class: "btn btn-labeled btn-info" do 
              %span.btn-label
                %i.fa.fa-pencil
              Update
        .col-md-4.no-pad
          .user-image
            =image_tag gravatar_url(@user), class: "img-responsive thumbnail"
            
      .row.overview
        .col-md-4.user-pad.text-center
          %h3 RECORDINGS
          %h4
            =@recordings.count
        .col-md-4.user-pad.text-center
          %h3 FOLLOWERS
          %h4 0
        .col-md-4.user-pad.text-center
          %h3 FOLLOWING
          %h4 0
  %h2 Last song recordings
  .tab-content
    #songs_tab.tab-pane.active{:role => "tabpanel"} 
      %table.table
        %thead
          %tr
            %th Graph
            %th Date
            %th Preview
            %th Name
            %th Album
            %th Cover
            %th Duration
            %th 
        %tbody#tab_body
          -@recordings.each_with_index do |recording, i|
            %tr
              %th
                =link_to "#" ,class: "show-graph-btn", "data-rec-id"=>"#{recording.id}" do
                  =image_tag "graph_preview.jpg",class: "graph-preview" 
              %th 
                %p
                  =recording.date.to_s
              %th 
                = audio_tag recording.song.preview_url, class: "audio-play"
                =link_to "#", class: "btn btn-link audioButton" do
                  .glyphicon.glyphicon-play
              %th{:scope => "row"}
                =recording.song.name
              %td
                %p 
                  =recording.song.album_name
              %td
                .album-track-query
                  =image_tag recording.song.album_cover_url
              %td
                %p
                  =#Time.at(recording['song_info'].duration_ms/1000).utc.strftime("%M:%S")
                  ="#{recording.duration} s"
              %td
                =link_to song_path(recording.song.song_spotify_id), class: "btn btn-default loading-button" do
                  %i
                  %span
                    Song Profile
  #ajax_message Loading Recordings ...
  =#link_to "Show older recordings", scroll_path(@scroll_id), id: "#more_recordings", remote: true if @recordings.any?

#graph_modal.modal.fade{:role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4.modal-title Recording Graph
      .modal-body
        #grap_container{:style => "min-width: 650px; height: 300px; margin: 0 auto"}
        %p#modal-message Loading Graph
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close