-if query
  %div
    / Nav tabs
    %h3
      ="Results for '#{query}'"
    %ul.nav.nav-tabs{:role => "tablist"}
      %li.active{:role => "presentation"}
        %a{"aria-controls" => "songs_tab", "data-toggle" => "tab", :href => "#songs_tab", :role => "tab"} 
          ="#{songs.size} Songs found"
      %li{:role => "presentation"}
        %a{"aria-controls" => "artists_tab", "data-toggle" => "tab", :href => "#artists_tab", :role => "tab"}
          ="#{artists.size} Artists found"
    / Tab panes
    .tab-content
      #songs_tab.tab-pane.active{:role => "tabpanel"} 
        %table.table
          %thead
            %tr
              %th Preview
              %th Song Name
              %th Artist
              %th Album
              %th 
          %tbody
            -songs.each_with_index do |song, i|
              %tr
                %th 
                  = audio_tag song.preview_url, class: "audio-play"
                  =link_to "#", class: "btn btn-link audioButton" do
                    .glyphicon.glyphicon-play
                  
                %th{:scope => "row"}
                  =song.name
                %th
                  =song.artists.first.name if song.artists.any?
                %td.album-track-query 
                  %p 
                    =song.album.name
                  =image_tag song.album.images.first["url"] if song.album.images.any?
                %td
                  =link_to "Record", "#", class: "btn btn-default"

      #artists_tab.tab-pane{:role => "tabpanel"} 
        -artists.each_with_index do |artist, i|
          .artist-query-container.bs-callout.bs-callout-info.no-padding.lib-item{"data-category" => "view"}
            .lib-panel
              .row.box-shadow
                .col-md-6
                  =image_tag artist.images.first["url"] , class: "lib-img-show" if artist.images.any? 
                .col-md-6
                  .lib-row.lib-header
                    =artist.name
                    .lib-header-seperator
                  .lib-row.lib-desc
                    -if artist.genres.any?
                      -artist.genres.each do |genre|
                        %span.label.label-info.song-type-label
                          =genre
                      




          