-if query
  %div
    / Nav tabs
    %h3
      ="Results for '#{query}'"
    %ul.nav.nav-tabs{:role => "tablist"}
      %li.active{:role => "presentation"}
        %a{"aria-controls" => "songs_tab", "data-toggle" => "tab", :href => "#songs_tab", :role => "tab"} 
          ="#{songs.size} Songs found"
      %li{:role => "presentation"}
        %a{"aria-controls" => "artists_tab", "data-toggle" => "tab", :href => "#artists_tab", :role => "tab"}
          ="#{artists.size} Artists found"
    / Tab panes
    .tab-content
      #songs_tab.tab-pane.active{:role => "tabpanel"} 
        %table.table
          %thead
            %tr
              %th Preview
              %th Song Name
              %th Artist
              %th Album Name
              %th Album Cover
              %th 
          %tbody
            -songs.each_with_index do |song, i|
              %tr
                %th 
                  = audio_tag song.preview_url, class: "audio-play"
                  =link_to "#", class: "btn btn-link audioButton" do
                    .glyphicon.glyphicon-play
                  
                %th{:scope => "row"}
                  =song.name
                %th
                  =link_to song.artists.first.name ,artist_path(song.artists.first.id) ,class: "loading-link" if song.artists.any? 
                %td
                  
                  %p 
                    =song.album.name
                %td
                  .album-track-query
                    =spotify_image_tag song.album
                %td
                  =link_to "Record", "#", class: "btn btn-default"

      #artists_tab.tab-pane{:role => "tabpanel"} 
        .container-fluid
          %br
          .row
            -artists.each_with_index do |artist, i|
              .col-md-6
                =link_to artist_path(artist.id) do
                  .artist-query-container.no-padding.lib-item{"data-category" => "view"}
                    .lib-panel
                      .row.box-shadow
                        .col-md-6
                          =spotify_image_tag artist
                        .col-md-6
                          .lib-row.lib-header
                            =artist.name
                            .lib-header-seperator
                          .lib-row.lib-desc
                            %p.artist-followers-query
                              %strong Spotify Followers:
                              %span
                                =artist.followers["total"]
                          




            