=javascript_include_tag "performance/performance"
#song.container-fluid
  .song-title
    %h2.title
      =@song.name
      %span
      =" - #{@song.artist_name}"
  .song-content
    .row
      .col-md-5
        %iframe{:allowtransparency => "true", :frameborder => "0", :height => "380", :src => "https://embed.spotify.com/?uri=#{@song.song_spotify_url}", :width => "100%"}
      .col-md-7
        %h3 Song Info
        %p
          %strong Duration:
          %span
            =Time.at(@song.duration/1000).utc.strftime("%M:%S")
        %p
          %strong Album:
          %span
            =@song.album_name
        %p
          %strong Song type:
          %span
            -@song.echonest_song_type.each do |tag|
              =tag

        %h3 Audio Summary
        .row
          .col-md-6
            %p
              %strong Energy:
              %span
                =@song.echonest_energy
            %p
              %strong Liveness:
              %span
                =@song.echonest_liveness
            %p
              %strong Tempo:
              %span
                =@song.echonest_tempo
            %p
              %strong Speechiness:
              %span
                =@song.echonest_speechiness
            %p
              %strong Acousticness:
              %span
                =@song.echonest_acousticness
          .col-md-6
            %p
              %strong Instrumentalness:
              %span
                =@song.echonest_instrumentalness
            %p
              %strong Time signature:
              %span
                =@song.echonest_tempo
            %p
              %strong Loudness:
              %span
                =@song.echonest_loudness
            %p
              %strong Valence:
              %span
                =@song.echonest_valence
            %p
              %strong Danceability:
              %span
                =@song.echonest_danceability
  .song-insight-records
    %h3 Emotiv Performance Metrics
    .record-data.text-center
      .emotion.interest
        %strong Interest
      .emotion.engagement
        %strong Engagement/Boredom
      .emotion.focus
        %strong Focus
      .emotion.relaxation
        %strong Relaxation
      .emotion.inst-excitement
        %strong Instantaneous Excitement
      .emotion.long-excitement
        %strong Long Term Excitement
      .emotion.stress
        %strong Stress
    #container{:style => "min-width: 310px; height: 100px; margin: 0 auto"}
    %br
    .record-buttons
      %h4 Press to record:
      =link_to  "#", class: "btn btn-danger btn-record",id: "record_performance_button", "data-song-id"=>@song.song_spotify_id,"data-song-duration"=>@song.duration , "data-user-id"=>@user.id do
        .glyphicon.glyphicon-record
      =link_to "#", class: "btn btn-primary disabled btn-record",id: "stop_record_performance_button" do
        .glyphicon.glyphicon-stop
      %span#record_message 
        %span Recording... Time:
        %span#message_time 0
        %span 
          ="Max Duration: #{Time.at(@song.duration/1000).utc.strftime("%M:%S")}"

    %h3.text-center.recorgins-title My recordings
    #song_recordings
      -@recordings.each do |r|
        .notice.notice-lg.recording
          =link_to "x", "#", class: "delete-recording" , "data-recording-id" => r.id
          %h4 
            =(Time.at(r.date/1000)).strftime("Recording %B %d %Y, %l:%M:%S %P")
          %div{id:"#{r.id}"}
          =link_to "View Graph" , "#", "data-recording-id"=>r.id , class: "graph-data-link"
    =#link_to "Show older recordings", "#", id:"older_song_recordings"
    
  #dialog_delete_recording
  =render "save_recording_modal"

