=javascript_include_tag "performance/performance"
#song.container-fluid
  .song-title
    %h2.title
      =@song.name
      %span
      =" - #{@song_echonest.artist_name}"
  .song-content
    .row
      .col-md-5
        %iframe{:allowtransparency => "true", :frameborder => "0", :height => "380", :src => "https://embed.spotify.com/?uri=#{@song_spotify_url}", :width => "100%"}
      .col-md-7
        %h3 Song Info
        %p
          %strong Duration:
          %span
            =Time.at(@song.duration_ms/1000).utc.strftime("%M:%S")
        %p
          %strong Album:
          %span
            =@song.album.name
        %p
          %strong Song type:
          %span
            -@song_echonest.song_type.each do |tag|
              =tag

        %h3 Audio Summary
        .row
          .col-md-6
            %p
              %strong Energy:
              %span
                =@song_echonest.audio_summary.energy
            %p
              %strong Liveness:
              %span
                =@song_echonest.audio_summary.liveness
            %p
              %strong Tempo:
              %span
                =@song_echonest.audio_summary.tempo
            %p
              %strong Speechiness:
              %span
                =@song_echonest.audio_summary.speechiness
            %p
              %strong Acousticness:
              %span
                =@song_echonest.audio_summary.acousticness
          .col-md-6
            %p
              %strong Instrumentalness:
              %span
                =@song_echonest.audio_summary.instrumentalness
            %p
              %strong Time signature:
              %span
                =@song_echonest.audio_summary.time_signature
            %p
              %strong Loudness:
              %span
                =@song_echonest.audio_summary.loudness
            %p
              %strong Valence:
              %span
                =@song_echonest.audio_summary.valence
            %p
              %strong Danceability:
              %span
                =@song_echonest.audio_summary.danceability
  .song-insight-records
    %h3 Emotiv Performance Metrics
    #container{:style => "min-width: 310px; height: 100px; margin: 0 auto"}
    .record-data.text-center
      .emotion.interest
        %strong Interest
      .emotion.engagement
        %strong Engagement/Boredom
      .emotion.focus
        %strong Focus
      .emotion.relaxation
        %strong Relaxation
      .emotion.inst-excitement
        %strong Instantaneous Excitement
      .emotion.long-excitement
        %strong Long Term Excitement
      .emotion.stress
        %strong Stress
    %br
    .record-buttons
      =link_to  "#", class: "btn btn-danger btn-record",id: "record_performance_button", "data-song-id"=>@song.id,"data-song-duration"=>@song.duration_ms , "data-user-id"=>@user.id do
        .glyphicon.glyphicon-record
      =link_to "#", class: "btn btn-primary disabled btn-record",id: "stop_record_performance_button" do
        .glyphicon.glyphicon-stop
      %span#record_message 
        %span Recording... Time:
        %span#message_time 0
        %span 
          ="Max Duration: #{Time.at(@song.duration_ms/1000).utc.strftime("%M:%S")}"
    %h2 My recordings
    #song_recordings
      -@recordings.each do |r|
        %h3 
          =(Time.at(r.date/1000)).strftime("Recording %B %d %Y, %l:%M:%S %P")
        %div{id:"#{r.id}"}
        =link_to "View Graph" , "#", "data-recording-id"=>r.id , class: "graph-data-link"
    =link_to "Show older recordings", "#", id:"older_song_recordings"
    

  =render "save_recording_modal"

