#plugin0{
  height: 0;
  position: absolute;
  top: 0;
}
.navbar-signal-quality{
  padding-top: 0!important;
  padding-bottom: 0!important;
  padding-right: 0!important;
  padding-bottom: 0!important;
  img{
    width: 55px;
    height: 55px;
  }
}

